<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>基本模板</title>
    <link rel="stylesheet" type="text/css" href="../../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
    <style>
        .center_header {
            /*background: url('../../image/user-page-cover.png')  top center;*/
            /*overflow: hidden;*/
            padding: 0.87rem 0.65rem 0rem 0.65rem;
            background-repeat:no-repeat;
            background-size:100% 100%;
        }

        .return {
            display: inline-block;
            width: 1.53rem;
            height: 1.5rem;
        }

        .target {
            margin-top: 3.07rem;
            color: var(--theme-color);
            font-size: 0.70rem;
        }

        .touch {
            margin-top: 0.52rem;
            padding-bottom: 0.4rem;
            font-size: 1.09rem;
            color: var(--theme-color);
        }

        .time {
            background-color: var(--theme-black);
            padding: 0.28rem;
            color: var( --theme-grey);
            width: 100%;
            overflow: hidden;
        }

        .year {
            font-size: 0.61rem;
        }

        .month {
            margin-bottom: 0.2rem;
            width: 5.8rem;
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }

        .month p {
            margin-left: 0.21rem;
        }

        .day {
            font-size: 0.43rem;
            width: 0.65rem;
            height: 0.65rem;
            line-height: 0.65rem;
            text-align: center;
            border-radius: 0.1rem;
            background-color: #757575;
            color: var(--theme-grey);
            float: left;
            margin-left: 0.17rem;
            margin-bottom: 0.17rem;
        }
        .day2{
          font-size: 0.43rem;
          width: 0.65rem;
          height: 0.65rem;
          line-height: 0.65rem;
          text-align: center;
          border-radius: 0.1rem;
          background-color: var(--theme-color);
          color: var(--theme-black);
          float: left;
          margin-left: 0.17rem;
          margin-bottom: 0.17rem;
        }
        .declare_content {
            margin-top: -1.5rem;
            border-radius: 0.65rem 0.65rem 0rem 0rem;
            background-color: var( --theme-color);
            /*padding: 0.43rem 0.65rem;*/
            padding: 0.43rem 0;
            position: absolute;
            top: 20rem;
            bottom: 0rem;
            width: 100%;
            z-index: 10;
        }

        .cover {
            width: 2.19rem;
            height: 2.19rem;
            border-radius: 50%;
            margin: 0.43rem;
        }

        .record {
            width: 2.5rem;
            height: 2.5rem;
            position: fixed;
            right: 1rem;
            bottom: 1rem;
            background: url('../../image/bottom_color.png');
            background-repeat:no-repeat;
            background-size:100% 100%;
            border-radius: 50%;
        }
        .month_body {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: middle;
            -ms-flex-align: middle;
            align-items: middle;
            overflow: auto;
        }
    </style>
</head>

<body>
    <div id="app">
        <header style="position:fixed; top:0rem; width:100%; ">
            <div class="center_header" style="" v-bind:style="{backgroundImage: 'url(' + plan.cover + ')'}">
                <img src="../../image/gray-back.png" class="return" @click='backClick' style="cursor:pointer;">
                <a class="aui-pull-right " style="width:1.09rem; height:1.09rem; ">
                    <img src="../../image/reco_share.png">
                </a>
                <a class="aui-pull-right " style="width:1.09rem; height:1.09rem; margin-left:100%;">
                    <img src="../../image/camera.png" @click='gotoSelectMedia'>
                </a>
                <div class="flex-row target" @click='gotoEditTitle'>
                    <div class="">目标宣言</div>
                    <img src="../../image/write.png" alt="" style="width:0.87rem;height:0.87rem;margin-left:0.65rem;">
                </div>
                <p class="touch" v-if='plan.title' v-text='plan.title' @click='gotoEditTitle'></p>
                <p class="touch" v-if='plan.title == undefined'
                    @click='gotoEditTitle' >赶紧写下你的目标宣言吧</p>
            </div>
            <div class="time">
                <div class="" v-for='(yearItem, yearIndex) in plan.yearList'>
                    <p class="year" v-text='yearItem.year'>2000</p>
                <div class="month_body " style="">
                    <div class="month" v-for='(item, index) in yearItem.monthList'>
                        <p v-text='item + "月"'></p>
                        <!-- 28天的月份 -->
                        <div class="day" v-bind:class="{'day2': hasRecord(yearItem.year, item, dayItem)}"
                            v-for='(dayItem, dayIndex) in 28' v-text='dayItem' v-if = 'item == 2'></div>
                            <div class="day" v-if="item == 2"  v-for='(dayItem,dayIndex) in 7'></div>
                        <!-- 31天的月份 -->
                        <div class="day" v-if='item == 1 || item == 3 || item == 5 || item == 7 || item == 8 || item == 10 || item == 12'
                            v-for='(dayItem, dayIndex) in 31' v-text='dayItem'
                            v-bind:class="{'day2': hasRecord(yearItem.year, item, dayItem)}"></div>
                        <div class="day" v-if='item == 1 || item == 3 || item == 5 || item == 7 || item == 8 || item == 10 || item == 12'
                            v-for='(dayItem, dayIndex) in 4' ></div>
                        <!-- 30天的月份 -->
                        <div class="day" v-if='item == 4 || item == 6 || item == 9 || item == 11'
                            v-for='(dayItem, dayIndex) in 30' v-text='dayItem'
                            v-bind:class="{'day2': hasRecord(yearItem.year, item, dayItem)}"></div>
                        <div class="day" v-if='item == 4 || item == 6 || item == 9 || item == 11'
                            v-for='(dayItem, dayIndex) in 5' ></div>
                    </div>
                </div>
            </div>
          </div>
        </header>
        <!--高度至少1px才能有效偏移-->
        <div id='first-el' style="height: 1px; "></div>

        <div class="declare_content">
            <!-- 中间那个小横线 -->
            <div style="width:1.31rem; height:0.175rem; margin:0 auto;background-color:#e0e0e0; "></div>
            <!-- 内容 -->
            <div style='background-color: white;'>
                <div class="flex-row" style=" margin-top:1.31rem;align-items: center; margin-bottom:0.87rem;">
                    <img :src="plan.author.image" alt="" class="cover" style="">
                    <span style="font-size:0.78rem;color:var(--theme-black);" v-text='plan.author.nickName'>我是行动派</span>
                    <div class="flex-1"></div>
                    <div class="follow-btn" style="margin-right:0.65rem;" @click='follow'>关注</div>
                </div>
                <div class="flex-row base-padding" style="font-size: 0.61rem; ">
                    <div class="" v-text='plan.author.sign'></div>
                </div>
                <div class="flex-row base-padding" style="font-size: 0.61rem; margin: 0.65rem 0; ">
                    <div class="" v-text='plan.author.provinceName + "&sdot;" + plan.author.cityName'></div>
                </div>
                <div class="grey-line"></div>
                <div class="flex-row" style="align-items:center; padding: 0.70rem 0.65rem 0.57rem 0.65rem;; font-size:0.70rem;">
                    <img src="../../image/declare_record.png" alt="" style="width:0.65rem;height:0.65rem;margin-right:0.21rem;">
                    <span style="" v-text='"记录中" + plan.startDayNum + "/" + plan.period + "天"'></span>
                    <div class="flex-1"></div>
                    <span style="" v-text='"收到" + plan.supportNum + "个加油"'></span>
                </div>
                <div class="grey-line"></div>

                <div style=" padding: 1.31rem 0.65rem 0rem 0.65rem; background-color: white;" v-for='(item, index) in blogList'>
                    <!-- 第几天 -->
                    <div class="flex-row" style="align-items:center;">
                        <img src="../../image/declare_circle.png" alt="" style="width:0.70rem; height:0.70rem;border-radius:50%;">
                        <span style='font-size:0.78rem; font-weight:700; margin-left:0.43rem;'
                            v-text='"记录第" + item.planDayNum + "天"'></span>
                    </div>
                    <div class="" style="margin-left: 1.13rem; margin-top: 0.5rem;">
                        <!-- blog内容 -->
                        <div class="" @click='blogClick(item)' v-text='item.content'></div>
                        <!-- 图片 -->
                        <div class="flex-row flex-between" v-if='item.mediaType == 1'
                            style="flex-wrap: wrap; margin-top: 0.4rem; ">
                            <!-- 1张图 -->
                            <div class="" v-if='item.imageList.length == 1'
                                style="margin-top: 0.25rem; overflow: hidden; background-color: var(--theme-light-grey);"
                                v-bind:style='{width: getWidth2(), height: getWidth2()}'
                                v-for='(imageItem, imageIndex) in item.imageList'
                                @click='picClick(imageItem, imageIndex, item.imageList)'>
                                <img :src="imageItem" style="width:100%; height:auto;">
                            </div>
                            <!-- 2、4张图 -->
                            <div class="" v-if='item.imageList.length == 2 || item.imageList.length == 4'
                                style="margin-top: 0.25rem; overflow: hidden; background-color: var(--theme-light-grey);"
                                v-bind:style='{width: getWidth2(), height: getWidth2()}'
                                v-for='(imageItem, imageIndex) in item.imageList'
                                @click='picClick(imageItem, imageIndex, item.imageList)'>
                                <img :src="imageItem" style="width:100%; height:auto;">
                            </div>
                            <!-- 3、5、6张图 -->
                            <div class="" v-if='item.imageList.length == 3 || item.imageList.length == 5 || item.imageList.length == 6'
                                style="margin-top: 0.25rem; overflow: hidden; background-color: var(--theme-light-grey);"
                                v-bind:style='{width: getWidth3(), height: getWidth3()}'
                                v-for='(imageItem, imageIndex) in item.imageList'
                                @click='picClick(imageItem, imageIndex, item.imageList)'>
                                <img :src="imageItem" style="width:100%; height:auto;">
                            </div>
                        </div>
                        <!-- 视频 -->
                        <div class="flex-row" v-if='item.mediaType == 2' style="margin-top: 0.4rem; "
                            @click='videoClick(item)'>
                            <div class="" style="position: relative; margin-top: 0.25rem; overflow: hidden; background-color: var(--theme-light-grey); "
                                v-bind:style='{width: getWidth2(), height: getWidth2()}'>
                                <img :src="item.cover"
                                    style="width: 100%; height: auto; ">
                                <div class="flex-row"
                                    style="z-index: 80; align-items: center; width: 100%; height: 100%; background-color: transparent; position: absolute; top: 0; right: 0;">
                                    <img src="../../image/video.png" style="width: 2rem; height: 2rem; margin: auto;">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 点赞分享 -->
                    <div class="flex-row flex-between" style="width: 100%; padding: 1.25rem 0.65rem 0.85rem; color: var(--theme-grey); ">
                        <div class="flex-row flex-between" style="width: 60%;padding-left:0.5rem;">
                            <div class="flex-row" style="align-items: center; ">
                                <img v-if='item.isLiked == 0' src="../../image/like.png" @click='addLike(item, index)' style="width: 0.75rem; height: 0.75rem; ">
                                <img v-if='item.isLiked == 1' src="../../image/like-focus.png" @click='delLike(item, index)' style="width: 0.75rem; height: 0.75rem; ">
                                <span style="margin-left: 0.15rem; font-size: 0.7rem; "v-text='item.likeNum'>135</span>
                            </div>
                            <div class="flex-row" style="align-items: center; ">
                                <img src="../../image/comment.png" style="width: 0.75rem; height: 0.75rem; ">
                                <span style="margin-left: 0.15rem; font-size: 0.7rem;" v-text='item.commentNum'>135</span>
                            </div>
                            <div class="flex-row" style="align-items: center; ">
                                <img v-if='item.isCollected==0' src="../../image/collect.png" @click='addCollect(item,index)'style="width: 0.75rem; height: 0.75rem; ">
                                <img v-if='item.isCollected==1' src="../../image/collect-focus.png" @click='delCollect(item,index)'style="width: 0.75rem; height: 0.75rem; ">
                                <span style="margin-left: 0.15rem; font-size: 0.7rem; "  v-text='item.collectNum'> 135</span>
                            </div>
                        </div>
                    </div>
                    <div class="grey-line" style="margin-left:0.65rem;"></div>
                </div>
            </div>
        </div>
        <!-- 加油图标 -->
        <div class="record flex-row" @click='addSupport' style="z-index: 1000; align-items: center; ">
            <img src="../../image/declare_like.png" style="width:1.1rem; height:1.1rem; margin:0 auto; ">
        </div>

    </div>
</body>

<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/aui-dialog.js"></script>
<script type="text/javascript" src="../../script/aui-toast.js"></script>
<script type="text/javascript" src="../../script/vue.min.js"></script>
<script type="text/javascript" src="../../script/constant.js"></script>
<script type="text/javascript" src="../../script/util.js"></script>
<script type="text/javascript" src="../../script/fastclick.js"></script>
<script type="text/javascript">
    var UIAlbumBrowser;
    var aliOSS;
    var imageFilter;
    var photoBrowser;

    apiready = function() {
        api.parseTapmode();
        FastClick.attach(document.body);
        $api.fixStatusBar($api.dom('header'));
        $api.css($api.dom('#first-el'), 'margin-top: ' + $api.dom('header').offsetHeight + 'px');
        if (api.systemType == 'ios') {
            FastClick.prototype.focus = function(targetElement) {
                targetElement.focus();
            };
        }

        var params = api.pageParam; //页面传参
        if (params.title) {
            vm.title = params.title;
        }
        vm.plan.id = params.planId;
        // vm.plan.id = 1;

        UIAlbumBrowser = api.require('UIAlbumBrowser');
        aliOSS = api.require("aliOSS");
        imageFilter = api.require('imageFilter');
        photoBrowser = api.require("photoBrowser");

        vm.initData();

        api.addEventListener({
            name: 'swiperight'
        }, function(ret, err) {
            vm.backClick();
        })

        api.addEventListener({
            name:'scrolltobottom',
            extra:{
                threshold: 0
            }
        }, function(ret, err){
            // console.log('scrolltobottom');
            vm.getNextPage();
        });
    };

    function setTitle(val) {
        vm.plan.title = val;
    }

    function uploadCover() {
        // 读取选择的图片视频
        vm.selectedMediaList = $api.getStorage('selectedMediaList');
        vm.uploadImage();
    }

    var vm = new Vue({
        el: '#app',
        data: {
            title: '基本模板',
            selectedMediaList: [],
            plan: {
                id: 0,
                author: {
                    image: '',
                    nickName: ''
                },
                title: '点击文字写下你的目标宣言',
                cover: 'https://chuansi.oss-cn-hangzhou.aliyuncs.com/xiangla/blog/plan-cover.png',
            },
            page: {
                current: 1,
                size: 5,
                pages: 0,
                total: 0
            },
            blogList: [],

        },
        methods: {
            initData() {
                this.getDetail();
                this.getBlogList();
            },
            getWidth2() {
                return ((api.winWidth - 60) / 2) + 'px';
            },
            getWidth3() {
                return ((api.winWidth - 60) / 3) + 'px';
            },
            follow() {

            },
            blogClick(item) {
                api.openWin({
                    name: 'blog_detail',
                    url: './blog_detail.html',
                    pageParam: {
                        blogId: item.id
                    }
                });
            },
            videoClick(item) {
                console.log('videoClick ' + JSON.stringify(item));
                api.openWin({
                    name: 'player',
                    url: '../player/player.html',
                    pageParam: {
                        // videoUrl: 'http://7o50kb.com2.z0.glb.qiniucdn.com/c1.1.mp4',
                        videoUrl: item.video,
                        videoTitle: ''
                    },
                    slidBackEnabled: true
                });
            },
            picClick(item, index, imageList) {
                var imageArray = [];
                for (var i = 0; i < imageList.length; i++) {
                    imageArray.push(imageList[i]);
                }
                photoBrowser.open({
                    // images:  ['http://img4.imgtn.bdimg.com/it/u=1265820520,737837016&fm=26&gp=0.jpg', 'http://img1.cache.netease.com/catchpic/3/30/30C60DCC88EEF0AA507740007AB08251.jpg'],
                    images: imageArray,
                    placeholderImg: 'widget://res/img/apicloud.png',
                    bgColor: '#000',
                    activeIndex: index
                }, function(ret, err) {
                    if (ret.eventType == "click") {
                        photoBrowser.close()
                    } else {
                    }
                });
            },
            getNextPage() {
                if (this.page.current >= this.page.pages) {
                    api.toast({
                        msg: '没有更多内容',
                        location: 'middle'
                    });
                    return;
                }
                this.page.current++;
                this.getBlogList();
            },
            getBlogList() {
                var that = this;
                var params = {
                    queryParams: {
                        planId: that.plan.id
                    },
                    page: that.page
                };
                console.log('params ' + JSON.stringify(params));
                api.showProgress({
                    title: '加载中...',
                });
                ajaxPost('/blog/getList', params, function(ret, err) {
                    api.hideProgress();
                    console.log(JSON.stringify(ret));
                    if (ret) {
                        if (ret.returnCode == '1') {
                            that.page = ret.data.page;
                            if (that.page.current == 1) {
                                that.blogList = ret.data.list;
                            } else {
                                that.blogList.push.apply(that.blogList, ret.data.list);
                                api.pageDown(function( ret, err ){});
                            }
                        } else {
                            api.toast({
                                msg: ret.returnMsg,
                                location: 'middle'
                            });
                        }
                    } else {
                        api.toast({
                            msg: JSON.stringify(err),
                            location: 'middle'
                        });
                    }
                })
            },
            addSupport() {
                console.log('addSupport');
                var that = this;
                ajaxPost('/support/add', that.plan.id + '', function(ret,arr){
                  console.log(JSON.stringify(ret));
                  if(ret){
                        if(ret.returnCode == '1'){
                            api.toast({
                                msg: '成功',
                                location: 'middle'
                            });
                            that.getDetail();
                        } else {
                          api.toast({
                              msg: ret.returnMsg,
                              location: 'middle'
                          });
                        }
                  } else {
                    api.toast({
                        msg: JSON.stringify(err),
                        location: 'middle'
                    });
                  }
                })
            },
            uploadImage() {
                var that = this;
                aliOSS.init({
                        endpoint: aliEndPoint,
                        signUrl: hostIp + "/aliOss/getSign",
                        bucketName: aliBucketName
                    },
                    function(ret, err) {
                        console.log(JSON.stringify(ret));
                        if (ret) {
                            console.log(JSON.stringify(that.selectedMediaList));
                            var item = that.selectedMediaList[0];
                            // ios要经过转换才能读取文件，needNoTranspath表示是FNPhotograph获取的图片，不需要转换
                            if (api.systemType == 'ios'
                                && (item.needNoTranspath == false || item.needNoTranspath == undefined)) {
                                UIAlbumBrowser.transPath({
                                    path: item.path
                                }, function(ret, err) {
                                    if (ret) {
                                        // 上传
                                        var srcFile = ret.path;
                                        var fileSuffix = srcFile.substring(srcFile.lastIndexOf('.'), srcFile.length);
                                        // 上传后保存的文件名
                                        var saveName = 'xiangla/blog/' + getTimeStr() + randomNum(1000, 9999) + fileSuffix;
                                        console.log('saveName ' + saveName);
                                        that.uploadSingleImage(srcFile, saveName);
                                    } else {
                                        api.toast({
                                            msg: 'transPath ' + JSON.stringify(err),
                                            location: 'middle'
                                        });
                                    }
                                });
                            } else {// android，直接压缩上传
                                var srcFile = item.path;
                                var fileSuffix = srcFile.substring(srcFile.lastIndexOf('.'), srcFile.length);
                                // 上传后保存的文件名
                                var saveName = 'xiangla/blog/' + getTimeStr() + randomNum(1000, 9999) + fileSuffix;
                                console.log('saveName ' + saveName);
                                that.uploadSingleImage(srcFile, saveName);
                            }
                        }
                    }
                )
            },
            // srcFile：上传文件，saveName：上传后的文件名，不包括域名前缀
            uploadSingleImage(srcFile, saveName) {
                var that = this;
                api.showProgress({
                    title: '上传中...'
                });
                aliOSS.upload({
                    file: srcFile,
                    name: saveName
                }, function(ret, err) {
                    api.hideProgress();
                    console.log(JSON.stringify(ret));
                    if (ret) {
                        if (ret.oper == "progress") {

                        } else if (ret.oper == "complete") {
                            that.plan.cover = imageDomain + '/' + saveName + '?x-oss-process=style/width360';
                            that.updatePlanCover();
                        }
                    }
                    if (err) {
                        api.toast({
                            msg: err.msg,
                            location: 'middle'
                        });
                    }
                });
            },
            updatePlanCover() {
                var that = this;
                var params = {
                    id: that.plan.id,
                    cover: that.plan.cover
                }
                console.log(JSON.stringify(params));
                ajaxPost('/plan/update', params, function(ret,arr){
                  console.log(JSON.stringify(ret));
                  if(ret){
                        if(ret.returnCode == '1'){
                            api.toast({
                                msg: '修改成功',
                                location: 'middle'
                            });
                        } else {
                          api.toast({
                              msg: ret.returnMsg,
                              location: 'middle'
                          });
                        }
                  } else {
                    api.toast({
                        msg: JSON.stringify(err),
                        location: 'middle'
                    });
                  }
                })
            },
            gotoSelectMedia() {
                $api.rmStorage('selectedMediaList');
                api.openWin({
                    name: 'select_media',
                    url: '../blog/select_media.html',
                    pageParam: {
                        publishType: 'planCover',
                        imageOnly: true
                    },
                    reload: true// 这里必须reload，否则不会重新$api.getStorage('selectedMediaList')
                });
            },
            hasRecord(year, month, day) {
                if (month < 10) {
                    month = '0' + month;
                }
                if (day < 10) {
                    day = '0' + day;
                }
                var dayStr = year + '-' + month + '-' + day;
                // console.log(dayStr);
                if (this.plan.blogDateList.indexOf(dayStr) >= 0) {
                    return true;
                } else {
                    return false;
                }
            },
            getDetail() {
                var that = this;
                ajaxPost('/plan/get', that.plan.id + '', function(ret, err) {
                    console.log(JSON.stringify(ret));
                    if (ret) {
                        if (ret.returnCode == '1') {
                            that.plan = ret.data;
                            if (that.plan.cover == undefined) {// 默认背景
                                that.plan.cover = 'https://chuansi.oss-cn-hangzhou.aliyuncs.com/xiangla/blog/plan-cover.png';
                            }
                        } else {
                            api.toast({
                                msg: ret.returnMsg,
                                location: 'middle'
                            });
                        }
                    } else {
                        api.toast({
                            msg: JSON.stringify(err),
                            location: 'middle'
                        });
                    }
                })
            },
            gotoEditTitle(){
              api.openWin({
                  name: 'plan_title',
                  url: './plan_title.html',
                  pageParam: {
                      planId: this.plan.id,
                      planTitle: this.plan.title
                  }
              });
            },
            addLike(item, index) {
                if ($api.getStorage('userInfo') == undefined || $api.getStorage('userInfo') == '') {
                    api.openWin({
                        name: 'phone_login1',
                        url: '../user/phone_login1.html',
                        slidBackEnabled: true
                    });
                    return;
                }

                var that =this;
                var params= {
                    objId: item.id,
                    objType: 1
                };
                ajaxPost('/likes/add', params, function(ret,err){
                    console.log(JSON.stringify(ret));
                    if(ret){
                            if(ret.returnCode == '1'){
                              if (item.isLiked == 0 || item.isLiked == undefined) {
                                  that.$set(that.blogList[index], 'isLiked', 1);
                                  var likeNum = item.likeNum+1;
                                  that.$set(that.blogList[index], 'likeNum', likeNum);
                              } else {
                                  that.$set(that.blogList[index], 'isLiked', 0);
                                  var likeNum = item.likeNum-1;
                                  that.$set(that.blogList[index], 'likeNum', likeNum);
                              }
                            }else{
                              api.toast({
                                  msg: ret.returnMsg,
                                  location: 'middle'
                              });
                            }
                      }else {
                        api.toast({
                            msg: JSON.stringify(err),
                            location: 'middle'
                        });
                      }
                  })
            },
            delLike(item, index) {
                  var that =this;
                  var params={
                    objId: item.id,
                     objType: 1
                  };
                  ajaxPost('/likes/delete',params,function(ret,err){
                    console.log(JSON.stringify(ret));
                    if(ret){
                          if(ret.returnCode == '1'){
                            if (item.isLiked == 0 || item.isLiked == undefined) {
                                that.$set(that.blogList[index], 'isLiked', 1);
                                var likeNum = item.likeNum+1;
                                that.$set(that.blogList[index], 'likeNum', likeNum);
                            } else {
                                that.$set(that.blogList[index], 'isLiked', 0);
                                  var likeNum = item.likeNum-1;
                                  that.$set(that.blogList[index], 'likeNum', likeNum);
                            }
                          }else{
                            api.toast({
                                msg: ret.returnMsg,
                                location: 'middle'
                            });
                          }
                    }else {
                      api.toast({
                          msg: JSON.stringify(err),
                          location: 'middle'
                      });
                    }
                  })
            },
            addCollect(item,index){
                if ($api.getStorage('userInfo') == undefined || $api.getStorage('userInfo') == '') {
                    api.openWin({
                        name: 'phone_login1',
                        url: '../user/phone_login1.html',
                        slidBackEnabled: true
                    });
                    return;
                }

                var that = this;
                var params={
                  objId :item.id,
                  objType:1
                };
                ajaxPost('/collections/add',params,function(ret,err){
                    // console.log(JSON.stringify(ret));
                    if(ret){
                        if(ret.returnCode==1){
                            if(item.isCollected==0 || item.isCollected == undefined){
                              that.$set(that.blogList[index],'isCollected',1);
                              var collectNum=item.collectNum+1;
                              that.$set(that.blogList[index],'collectNum',collectNum);
                            }else{
                              that.$set(that.blogList[index],'isCollected',0);
                               var collectNum=item.collectNum-1;
                                 that.$set(that.blogList[index],'collectNum',collectNum);
                            }
                        }else{
                          api.toast({
                            msg:ret.returnCode,
                            location:'middle'
                          });
                        }
                    }else{
                      api.toast({
                        msg:JSON.stringify(err),
                        location:'middle'
                      });
                    }
                })

            },
            delCollect(item,index){
              var that = this;
              var params={
                objId :item.id,
                objType:1
              };
              ajaxPost('/collections/delete',params,function(ret,err){
                  // console.log(JSON.stringify(ret));
                  if(ret){
                      if(ret.returnCode==1){
                          if(item.isCollected==0 || item.isCollected == undefined){
                            that.$set(that.blogList[index],'isCollected',1);
                            var collectNum=item.collectNum+1;
                            that.$set(that.blogList[index],'collectNum',collectNum);
                          }else{
                            that.$set(that.blogList[index],'isCollected',0);
                             var collectNum=item.collectNum-1;
                               that.$set(that.blogList[index],'collectNum',collectNum);
                          }
                      }else{
                        api.toast({
                          msg:ret.returnCode,
                          location:'middle'
                        });
                      }
                  }else{
                    api.toast({
                      msg:JSON.stringify(err),
                      location:'middle'
                    });
                  }
              })
            },
            backClick() {
                api.closeToWin({
                    name: 'root'
                });
            },

        }
    })
</script>

</html>
